<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
   Pulse - Hub
  </title>
  
  <link href="/assets//img/brand/favicon.png" rel="icon" type="image/png">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  
  <link href="/assets//js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/assets//js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  
  <link href="/assets//css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="">
  <% include ../partials/sidebar.ejs %>
  <div class="main-content">
    
    <% include ../partials/header.ejs %>
    <style>
        .fa-stack { font-size: 0.5em; }
        i { vertical-align: middle; }
        .bg-gradient-primary {
          background: linear-gradient(to right, #FB4E33 0%, #DB286E 100%) !important;
        }
      </style>
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
            <h1 class="text-white">Staff List</h1>
        </div>
    </div>
</div>
<div class="col-12">
<% ranks.ranks.reverse().forEach(rank => {
    %>
    <div class="row">
            <div class="col">
              <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0"><%= rank.name %></h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                            <th></th>
                            <th>#</th>
                            <th>Username</th>
                            <th>Likes</th>
                            <th>Is Suspended?</th>
                            <th>Hired At</th>
                            <th>Hired By</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%
                        users.forEach(user => {
                            if(math.max.apply(null, user.ranks.split(',')) == rank.id ||( user.ranks == rank.id && rank.id == 1))
                            {
                                %> 
                                <tr>
                                        <th scope="row">
                                          <div class="media align-items-center">
                                            <a href="#" class="avatar rounded-circle mr-3">
                                              <img alt="Image placeholder" src="<%= user.avatar %>">
                                            </a>
                                          </div>
                                        </th>
                                        <td>
                                          <%= user.id %>
                                        </td>
                                        <td>
                                         <%= user.username %>
                                        </td>
                                        <td>
                                          <%= user.likes %>
                                        </td>
                                        <td>
                                            <%= user.is_suspended == 1 ? 'Yes' : 'No' %>
                                        </td>
                                        <td><%= user.hired_at %></td>
                                        <td><%= user.hired_by %></td>
                                      </tr>
                                <%
                            }
                          
                        })
                      %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <br>
    <% }) %>
<% include ../partials/footer.ejs %>

<script>
        let resetPass = id => {
          $.ajax({
            url: '/api/leader/reset-pass/' + id,
            method:'POST'
          }).done(result => {
            if(result == 'ok')
            {
              alert('This user\'s password was reset and was sent by Discord to them!');
            }
          })
        }
        let fireStaff = id => {
          $.ajax({
            url: '/api/leader/fire/' + id,
            method:'POST'
          }).done((result) => {
            if(result == 'ok')
            {
              alert('This user was fired! Their Discord permissions and Hub login details are now deleted.');
            }
          })
        }
  </script>