<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
   Pulse - Hub
  </title>
  
  <link href="/assets//img/brand/favicon.png" rel="icon" type="image/png">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  
  <link href="/assets//js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/assets//js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  
  <link href="/assets//css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="">
  <% include ../partials/sidebar.ejs %>
  <div class="main-content">
    
    <% include ../partials/header.ejs %>
    <style>
        .fa-stack { font-size: 0.5em; }
        i { vertical-align: middle; }
        .bg-gradient-primary {
          background: linear-gradient(to right, #FB4E33 0%, #DB286E 100%) !important;
        }
      </style>
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
            <h1 class="text-white">Banned Songs</h1>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
            <div class="col">
              <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0"></h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Artist</th>
                            <th>Warning Points</th>
                            <th>Added By</th>
                            <th>Added Date</th>
                      </tr>
                    </thead>
                    <tbody id="imaging">
                      <%
                        songs.forEach(song => {
                          %> 
                          <tr>
                            <td><%= song.id %></td>
                            <td><%= song.name %></td>
                            <td><%= song.artist %></td>
                            <td><%= song.warning_points %></td>
                            <td><%= song.added_by %></td>
                            <td><%= song.added_date %></td>
                          </tr>
                          <%
                        })
                      %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <br>
          
<% include ../partials/footer.ejs %>
<script>
   let removeRequest = (id) =>
  {
    $('tr[data-id=' + id + ']').fadeOut();
    $.ajax({
      url: '/api/requests/delete/' + id,
      method:'POST'
    }).done(resp => {
      if(resp.message == 'ok')
      {
        return;
      }
      else {
        alert('Please reload page.');
      }
    })
  }
 </script>